<div class="container content">
    <div class="row">
        <div class="col-md-6">
            quie
        </div>
        <div class="col-md-6">
            quie
        </div>

    </div>
</div>
<p>saludar works!</p>
