<nav class="navbar navbar-light bg-light justify-content-between">
   <a class="navbar-brand">PAGINA EN ANGULAR</a>
   <form class="form-inline">
     <input class="form-control mr-sm-2" type="search" placeholder="BUSCAR" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
   </form>
 </nav>

 <div class="page-header">
   <div class="container">
     <h1>routeo</h1>
     <div class="navLinks">
       <a [routerLink] ="['/home']">home</a>
       <a [routerLink] ="['/destino']">destino</a>
       <a [routerLink] ="['/destino']">destino</a>
     </div>
   </div>
 </div>
 <router-outlet></router-outlet>
     
<!-- Footer -->
<footer class="page-footer font-small blue card-header">

   <!-- Copyright -->
   <div class="footer-copyright text-center py-3">© 2020 Copyright:
     <a href=""> ESTEBIART</a>
   </div>
   <!-- Copyright -->
 
 </footer>
 <!-- Footer -->
 <hr>
 Fecha {{ time | async }}